In [1]:
'hello'

'hello'

In [2]:
"world"

'world'

In [3]:
"This is also a string"

'This is also a string'

In [4]:
'I'm going on a run'

SyntaxError: invalid syntax (<ipython-input-4-0b29964ddaa6>, line 1)

In [5]:
" I'm going for a run"

" I'm going for a run"

In [6]:
print("hello")

hello

In [7]:
"hello world one"
"hello world two"

'hello world two'

In [8]:
print("hello world one")
print("hello world two")

hello world one
hello world two

In [9]:
print ('hello \n world')

hello
 world

In [10]:
print(' Hello \t World')

 Hello 	 World

In [11]:
len('hello')

5

In [12]:
len(' I am hungry ')

13

In [13]:
mystring = "Hello World"

In [14]:
mystring

'Hello World'

In [15]:
mystring[1]

'e'

In [16]:
len(mystring)

11

In [17]:
mystring[9]

'l'

In [18]:
mystring[-2]

'l'

Using Reverse Indexing

In [19]:
str = 'abcdefghijk'

In [20]:
print(str)

abcdefghijk

In [21]:
str[::]

'abcdefghijk'

In [22]:
str[1:]

'bcdefghijk'

In [23]:
str[0:]

'abcdefghijk'

In [24]:
str[-1:]

'k'

In [25]:
str[:-1]

'abcdefghij'

In [26]:
str[2:9]

'cdefghi'

In [27]:
len(str)

11

In [28]:
str[2:9:2]

'cegi'

In [29]:
str[::-1]

'kjihgfedcba'

This will reverse a string

A> String concatenation

Example 1

In [3]:
name = 'Sam'

In [4]:
name[0]

'S'

In [5]:
name[0]='P'

TypeError: 'str' object does not support item assignment

This doesn't work because Python does not support item assignment

In [8]:
last_letters = name[1:]

In [9]:
'P' + last_letters  #using tab function will autofill in the variable names

'Pam'

Example 2

In [10]:
x = 'Hello World'

In [11]:
x + ' It is beautiful!'

'Hello World It is beautiful!'

In [14]:
x = x + ' It is beautiful!'

In [15]:
x

'Hello World It is beautiful! It is beautiful!'

Running it multiple times keeps concatenating the string

Example 3

In [17]:
letter = 'z'
letter * 10

'zzzzzzzzzz'

In [20]:
'2' + '3'     #if the numbers are used as string then they are concatenated when used with a plus sign

'23'

In [19]:
2 + 3

5

2. Built in Functions and Methods in Strings

-Variable name and then the dot operator along with the tab button gives you the inbuilt string functions and methods available

-Use the tab button on the keyboard to see the functions

-Use of the print function is also very useful in the coming lectures

=Upper(), Lower(), Split() are shown here

In [31]:
x = 'Hello World'

In [22]:
#Upper case conversion
x.upper

In [24]:
#without the (), python just gives the meaning of the function
x.upper()

'HELLO WORLD'

In [30]:
#Lower case conversion

x.lower()

'hello world'

In [29]:
#Split function - splits on the whitespace by default, otherwise with whatever is specified inside the paranthesis

x.split()

['Hello', 'World']

In [32]:
x = 'Hi my name is Medha'

In [33]:
x.split()

['Hi', 'my', 'name', 'is', 'Medha']

In [34]:
x.split('i')

['H', ' my name ', 's Medha']