LISTS IN PYTHON

In [5]:
my_list = [1,2,3]      #list of integers

In [6]:
my_list = ['STRING',10, 12.5]     # Lists can have mixed datatype values as it is flexible

In [7]:
len(my_list)    #provides the length of the list

3

In [59]:
#Slicing and Indexing works similar to strings as it is ordered sequences
mylist = ['one', 'two', 'three']

In [60]:
mylist[0]

'one'

In [61]:
mylist[1:]

['two', 'three']

In [62]:
#Concatenate two lists
mylist2 = ['four', 'five']

In [63]:
new_list = mylist + mylist2

In [64]:
new_list

['one', 'two', 'three', 'four', 'five']

Difference between Strings and Lists :
    Lists can mutate and we can change the values in the list which was not possible with strings

In [65]:
new_list[0] = 'ONE'

In [66]:
#1. first value has changed to uppercase
new_list

['ONE', 'two', 'three', 'four', 'five']

In [67]:
#2. Lists can allow to add elements at the end of the list
new_list.append('six')

In [68]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'six']

In [69]:
new_list.append('seven')

In [70]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'six', 'seven']

In [71]:
#3. Remove the item from the list - using the pop() function
new_list.pop()

'seven'

In [72]:
popped_item = new_list.pop()

In [73]:
popped_item

'six'

In [74]:
new_list

['ONE', 'two', 'three', 'four', 'five']

In [75]:
#Pop from a specific location
new_list.pop(0)

'ONE'

In [76]:
new_list

['two', 'three', 'four', 'five']

In [77]:
new_list.pop(-1)   #Reverse indexing works for lists as well like in strings

'five'

In [84]:
# 4. SORT Elements in the list
str_list = ['b', 'c', 'a', 'e', 'x']
num_list = [ 8, 5, 0, 2, 1, 3]

In [85]:
str_list.sort()

In [86]:
str_list

['a', 'b', 'c', 'e', 'x']

In [87]:
#if you provide the sorted list to a variable, it does not return anything as the sorting happens in place and it is a NoneType variable

new_str_list = str_list.sort()

In [88]:
new_str_list

In [89]:
type(new_str_list)

NoneType

In [90]:
num_list.sort()

In [91]:
num_list

[0, 1, 2, 3, 5, 8]

In [92]:
num_list.reverse()

In [93]:
num_list

[8, 5, 3, 2, 1, 0]

In [94]:
#Coding Exercise 6

In [95]:
my_new_list = ['name', 2, 10.5]