Files in Python:
- Perform Simple I/O on basic text files (.txt files)
- %% only works in the Jupyter notebooks


Below we also have the assessment test taken for the Objects and Data Structures

In [4]:
%%writefile myfile.txt
Hello this is a text file
This is the second line
This is the third line

Writing myfile.txt

In [6]:
# If you write the wrong name - error will be thrown
myfile = open('myfile.txt')

In [7]:
myfile = open('Wrong.txt')        #We get this error when there is no file present with the given name

FileNotFoundError: [Errno 2] No such file or directory: 'Wrong.txt'

In [8]:
pwd           #To know the current file location

'C:\\Users\\medha\\Downloads\\Python'

In [9]:
myfile = open('myfile.txt')

In [10]:
myfile.read()            #Everything comes as a giant string

'Hello this is a text file\nThis is the second line\nThis is the third line\n'

In [11]:
myfile.read()            #The cursor goes to the end of the file and hence we get empty string

''

In [12]:
myfile.seek(0)

0

In [13]:
contents = myfile.read()

In [14]:
contents

'Hello this is a text file\nThis is the second line\nThis is the third line\n'

In [15]:
myfile.seek(0)

0

In [16]:
myfile.readlines()

['Hello this is a text file\n',
 'This is the second line\n',
 'This is the third line\n']

In [17]:
myfile.close()                         #Best practices for file operations

In [18]:
# To not worry about opening and closing files we can use the 'with' statement 

with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [19]:
contents

'Hello this is a text file\nThis is the second line\nThis is the third line\n'

OPERATION ON THE FILES WITH DIFFERENT MODES:
- r : read mode (Reads the contents of the file)
- a : append mode (Appends to the end of the file)
- w : write mode (this edits the file and writes it or otherwise creates the file if it doesn't exist)
- %%writefile creates a new file and then all the above operations can be performed

In [25]:
#1 Create a new file

%%writefile newfile.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THRID

Overwriting newfile.txt

In [29]:
#2 Read Mode
with open('newfile.txt', mode = 'r') as n:
    print(n.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THRID

In [30]:
#3 Append Mode - Add to the existing file
with open('newfile.txt', mode = 'a') as n:
    n.write('FOUR ON FOURTH')

In [31]:
#2 Read Mode
with open('newfile.txt', mode = 'r') as n:
    print(n.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THRID
FOUR ON FOURTH

In [36]:
#4 Write Mode - write on an existing file or create a new file if not present
with open('my_newfile.txt', mode = 'w') as n:
    n.write('This is a new file.\nThis did not exist before.\nBye for now')

In [37]:
#2 Read Mode
with open('my_newfile.txt', mode = 'r') as n:
    print(n.read())

This is a new file.
This did not exist before.
Bye for now

In [38]:
s = 'hello'

In [39]:
s[4]

'o'

In [40]:
s[1]

'e'

In [41]:
s[-1]

'o'

In [42]:
s[-1:]

'o'

In [43]:
s[-1::]

'o'

In [44]:
s[::-1]

'olleh'

In [45]:
[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [124]:
list3 = [1,2,[3,4,'hello']]

In [126]:
list3[2][2] = 'goodbye'

In [127]:
list3

[1, 2, [3, 4, 'goodbye']]

In [55]:
l3

[3, 4]

In [56]:
l3.append('goodbye')

In [57]:
l3

[3, 4, 'goodbye']

In [58]:
list3[2] = l3

In [59]:
list3

[1, 2, [3, 4, 'goodbye']]

In [135]:
list4 = [5,3,4,6,1]

In [136]:
list4.sort()  
list4

[5, 3, 4, 6, 1]

In [137]:
sorted(list4)

[1, 3, 4, 5, 6]

In [64]:
d = {'simple_key': 'hello'}

In [69]:
d['simple_key']

'hello'

In [70]:
d1 = {'k1':{'k2':'hello'}}

In [73]:
d1['k1']['k2']

'hello'

In [92]:
d2 = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [98]:
d2['k1'][0]['nest_key'][1][0]

'hello'

In [81]:
d3

{'nest_key': ['this is deep', ['hello']]}

In [83]:
d3['nest_key'][1]

['hello']

In [84]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [91]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [106]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [107]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [108]:
a = 3
b = 4

In [109]:
a==b

False

In [110]:
a!=b

True

In [111]:
a>b

False

In [112]:
a<b

True

In [113]:
a>=b

False

In [114]:
a<=b

True

In [121]:
4**0.5 == 2

True

In [122]:
l1 = [1,2,[3,4]]
l2 = [1,2,{'k1':4}]

l1[2][0] >= l2[2]['k1']

False