Here are some of the Useful operators in Python:
1. Range
2. Enumerate
3. Zip
4. In
5. Min / Max
6. Random
7. Input

In [3]:
#1 Range - Generators

for num in range(10):              #Enter Shift+Tab to see the parameters it takes - Start, Stop and Step-size
    print(num)

0
1
2
3
4
5
6
7
8
9

In [5]:
for num in range(3, 10):              #Start at 3, Stop before 10 
    print(num)

3
4
5
6
7
8
9

In [6]:
for num in range(0,11,2):              #Start at 0, Stop at 10 with Step-size of 2
    print(num)

0
2
4
6
8
10

In [7]:
#Casting into a list

list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [11]:
#2 ENUMERATE FUNCTION

index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [12]:
index_count = 0
for letter in 'abcde':
    print(f'At index {index_count} the letter is {letter}')
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [13]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [14]:
#using the enumerate function rather than the above mentioned method
# Returns index counter and object itself at a particular iteration

word = 'abcde'
for item in enumerate(word):       #We get tuples here as the enumerate function does the counting
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [23]:
#Using the tuple unpacking
word = 'abcde'
for index,letter in enumerate(word):
    print(index, letter)

0 a
1 b
2 c
3 d
4 e

In [30]:
#3 ZIP Function (Opposite of enumerate)
             #Zips as far the shortest list here - In case the lists are uneven
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [31]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)             #we get tuples as the result here as well

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [32]:
list(zip(mylist1,mylist2,mylist3))   # Casting into a list

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [33]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(b)

a
b
c

In [34]:
#4 IN Function

'x' in [1,2,3]

False

In [35]:
'x' in ['x','y','z']

True

In [36]:
2 in [1,2,3]

True

In [37]:
'a' in 'a world'

True

In [38]:
'mykey' in {'mykey':345}

True

In [40]:
d = {'mykey':345}

345 in d.values()

True

In [41]:
345 in d.keys()

False

In [44]:
#5 MIN / MAX Function

mylist = [10,20,30,40,100]
min(mylist)

10

In [45]:
max(mylist)

100

In [46]:
#6 RANDOM LIBRARY Function

from random import shuffle

In [47]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [52]:
shuffle(mylist)     #Shuffles the list but does not display anything as it is an inplace function
# every iteration gives different suffle result

In [53]:
mylist

[3, 6, 4, 7, 10, 5, 8, 2, 1, 9]

In [54]:
result = shuffle(mylist)

In [55]:
type(result)

NoneType

In [56]:
from random import randint

In [57]:
randint(0,100)               #Returns a random integer

33

In [58]:
randint(0,100)

17

In [59]:
mynum = randint(0,10)

In [60]:
mynum

4

In [2]:
#INPUT Function
input('Enter a number here: ')

Enter a number here: 50

'50'

In [3]:
result = input('What is your name? ')      #Always accepts anything passed into it as a String

What is your name? Medha

In [4]:
result

'Medha'

In [5]:
type(result)

str

In [3]:
num = input('Enter the number: ')

Enter the number: 80

In [4]:
num

'80'

In [5]:
float(num)

80.0

In [6]:
int(num)

80

In [7]:
type(num)

str