## Function Practice Exercises
Problems are arranged in increasing difficulty:

- Warmup - these can be solved using basic comparisons and methods
- Level 1 - these may involve if/then conditional statements and simple methods
- Level 2 - these may require iterating over sequences, usually with some kind of loop
- Challenging - these will take some creativity to solve

#### WARMUP SECTION:

##### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

- lesser_of_two_evens(2,4) --> 2
- lesser_of_two_evens(2,5) --> 5

In [13]:
def lesser_of_two_evens(a,b):
    
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)
    pass

In [14]:
lesser_of_two_evens(2,4)

2

In [15]:
lesser_of_two_evens(2,5)

5

In [16]:
lesser_of_two_evens(5,2)

5

### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True

animal_crackers('Crazy Kangaroo') --> False

In [63]:
def animal_crackers(text):
    text = text.split(' ')
    return text[0][0] == text[1][0]

In [64]:
animal_crackers('Levelheaded Llama')

True

In [65]:
animal_crackers('Crazy Kangaroo')

False

### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
- makes_twenty(20,10) --> True
- makes_twenty(12,8) --> True
- makes_twenty(2,3) --> False

In [73]:
def makes_twenty(a,b):
    return (a + b == 20 or a == 20 or b == 20)
    pass

In [74]:
makes_twenty(20,10)

True

In [75]:
makes_twenty(2,3)

False

In [77]:
makes_twenty(12,8)

True


### LEVEL 1 PROBLEMS

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [132]:
def old_macdonald(name):
    if len(name)>3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short'
    pass

In [133]:
old_macdonald('macdonald')

'MacDonald'

In [134]:
old_macdonald('medha')

'MedHa'

In [135]:
old_macdonald('gis')

'Name is too short'

### MASTER YODA: Given a sentence, return a sentence with the words reversed

master_yoda('I am home') --> 'home am I'

master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

#>>> "--".join(['a','b','c'])
#>>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

#>>> " ".join(['Hello','world'])
#>>> "Hello world"

In [175]:
def reverse_words(text):
    return ' '.join(text.split()[::-1])
    pass

In [176]:
reverse_words('I am home')

'home am I'

In [177]:
reverse_words('Are we ready')

'ready we Are'


### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True

almost_there(104) --> True

almost_there(150) --> False

almost_there(209) --> True

In [5]:
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))
    #return (100<n<110 or 200<n<210)
    pass

In [6]:
almost_there(104)

True

In [7]:
almost_there(150)

False

In [10]:
almost_there(209)

True

### LEVEL 2 PROBLEMS
FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

- has_33([1, 3, 3]) → True
- has_33([1, 3, 1, 3]) → False
- has_33([3, 1, 3]) → False

In [10]:
def has_33(nums):
    for i in range(len(nums)-1):
        #if nums[i] == nums[i+1] and nums[i] == 3:
        ##if nums[i] == 3 and nums[i+1] == 3:
        if nums[i:i+2] == [3,3]:
            return True
    return False
    pass

In [11]:
# Check
has_33([1, 3, 3])

True

In [12]:
has_33([1, 3, 1, 3])

False

In [13]:
has_33([3, 1, 3])

False


### PAPER DOLL: 
Given a string, return a string where for every character in the original there are three characters

paper_doll('Hello') --> 'HHHeeellllllooo'

paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [84]:
def paper_doll(text):
    result = ''
    for i in text:
        result += i*3 
    return result
    pass

In [85]:
paper_doll('Hello')

'HHHeeellllllooo'

In [86]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

### BLACKJACK: 
Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'¶
- blackjack(5,6,7) --> 18
- blackjack(9,9,9) --> 'BUST'
- blackjack(9,9,11) --> 19

In [123]:
def blackjack(a,b,c):
    #sum = a + b + c
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <= 31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'
    pass

In [124]:
blackjack(5,6,7)

18

In [125]:
blackjack(9,9,9)

'BUST'

In [126]:
blackjack(9,9,11)

19

### SUMMER OF '69: 
Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.¶
- summer_69([1, 3, 5]) --> 9
- summer_69([4, 5, 6, 7, 8, 9]) --> 9
- summer_69([2, 1, 6, 9, 11]) --> 14

In [128]:
def summer_69(arr):
    for num in arr:
        pass

In [154]:
arr = [4, 5, 6, 7, 8, 9]

In [52]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [14]:
abc = [1,2,6,17,28,9,4,3]

In [41]:
def summer(abc):
    total = 0
    stop_count = False
    for i in abc:
        if stop_count == False and i != 6:
            total += i
        elif i == 6:
            stop_count = True
            continue
        elif i == 9:
            stop_count = False
            continue
    return total

In [42]:
summer(abc)

10

In [46]:
name = ['a','c','B','M','g','A']

In [47]:
## To find the upper case letters in the given list

def caps(name):
    count = 0
    is_caps = False
    for i in name:
        if i.isupper():
            is_caps = True
            count += 1
        elif i.islower():
            is_caps = False
            continue
    return count

In [48]:
caps(name)

3

### SUMMER OF '69: 
Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
- summer_69([1, 3, 5]) --> 9
- summer_69([4, 5, 6, 7, 8, 9]) --> 9
- summer_69([2, 1, 6, 9, 11]) --> 14

In [58]:
def summer_69(arr):
    add = True
    total = 0
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
    return total        
    pass

In [59]:
summer_69([1, 3, 5])

9

In [60]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [61]:
summer_69([2, 1, 6, 9, 11])

14

### CHALLENGING PROBLEMS¶

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
- spy_game([1,2,4,0,0,7,5]) --> True
- spy_game([1,0,2,4,0,5,7]) --> True
- spy_game([1,7,2,0,4,5,0]) --> False

In [74]:
def spy_game(nums):
    count_zero = False
    counter = 0
    for num in nums:
        if num == 0 and count_zero == False:
            counter += 1
            count_zero = True    
        elif num == 0 and count_zero == True:
            counter += 1
            count_zero = False 
        if num == 7 and count_zero == False:
            counter += 1
            break
    if counter == 3:
        #print(counter)
        return True
    else:
        return False
    pass

In [75]:
spy_game([1,2,4,0,0,7,5])

True

In [76]:
spy_game([1,0,2,4,0,5,7])

True

In [77]:
spy_game([1,7,2,0,4,5,0])

False

In [81]:
def spy_games(lst):
    code = [0,0,7,'x']
    
    for num in lst:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1
    
    pass

In [82]:
spy_games([1,2,4,0,0,7,5])

True

In [85]:
spy_games([1,0,2,4,0,5,7])

True

In [86]:
spy_games([1,7,2,0,4,5,0])

False

In [88]:
spy_games([1,7,2,0,4,5,0])

False

### COUNT PRIMES: 
Write a function that returns the number of prime numbers that exist up to and including a given number

count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [99]:
import math

def isprime(dig):
    if dig %2 == 0 and dig > 2:
        return False
    for i in range(3, int(math.sqrt(dig)+1), 2):
        if(dig % i == 0):
            return False
    return True
    
def count_primes(num):
    count = 0
        
    for x in range(2, num-1):
        if isprime(x):
            count += 1
    return count

pass

In [100]:
count_primes(100)

25

In [112]:
count_primes(150)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149]

35

In [109]:
def count_prim(num):
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [111]:
count_prim(150)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149]

35

### Just for fun:

PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
print_big('a')

out:   
       *  
      * *
     *****
     *   *
     *   *
     
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.
For purposes of this exercise, it's ok if your dictionary stops at "E".

In [66]:
def print_star(pattern):
    line = [' ',' ',' ',' ',' ']
    star = '*'
    for x in pattern:
        for y in x:
            line[y] = star
        print(''.join(line))
        line = [' ',' ',' ',' ',' ']
    print('\n')

def print_sta(letter):
    letter = list(letter.lower())
    diction ={'a': [[2],[1,3],[0,1,2,3,4],[0,4],[0,4]],
             'b': [[0,2],[0,3],[0,2],[0,3],[0,2]],
             'c':[[1,2,3,4],[0],[0],[0],[1,2,3,4]]}
    for let in letter:
        for char,pattern in diction.items():
            if char == let:
                print_star(pattern)

In [68]:
print_sta('CAB')

 ****
*
*
*
 ****


  *
 * *
*****
*   *
*   *


* *
*  *
* *
*  *
* *

In [42]:
name = 'ACXB'

In [46]:
list(name.lower())

['a', 'c', 'x', 'b']

In [69]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [71]:
print_big('C')

*****
*
*
*
*****